<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Food & Drinks in Seattle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="indexjQuery.js"></script>
    <script src="index.js"></script>
    <script src="data/yelp-places-data.js"></script>
    <script src="data/yelp-hotel-data.js"></script>
    <script src="data/yelp-food-data.js"></script>
    <script src="data/data-all.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">

</head>




<body class="bodyposition">

<div class="text-center totopicon">

    <a class="up-arrow" href="#foodimage" data-toggle="tooltip" title="To TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <p>To Top</p>
    </a>

</div>

<div id="navigation">
    <nav class="navbar navbar-default hidden-sm hidden-md hidden-lg">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#homegif">Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Things to do
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="signature.html">Signature Place</a></li>
                            <li><a href="outdoor.html">Outdoor</a></li>
                            <li><a href="familyfun.html">Family Fun</a></li>
                            <li><a href="art.html">Arts & Culture</a></li>
                            <li><a href="sport.html">Game & Sports</a></li>
                        </ul>
                    </li>

                    <li><a href="food.html">Foods & Drinks</a></li>

                    <li><a href="hotel.html">Hotels & Stay</a></li>

                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Transportation
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="transportation.html">Airport</a></li>
                            <li><a href="transportation.html">Ferry</a></li>
                            <li><a href="transportation.html">Bus</a></li>
                            <li><a href="transportation.html">Link Light Rail</a></li>
                            <li><a href="transportation.html">Sounder Train</a></li>
                            <li><a href="transportation.html">Streetcar</a></li>


                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="navbar">
        <div class="row alignitem">
            <div class="col-sm-5">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Things to do
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="signature.html">Signature Place</a></li>
                            <li><a href="outdoor.html">Outdoor</a></li>
                            <li><a href="familyfun.html">Family Fun</a></li>
                            <li><a href="art.html">Arts & Culture</a></li>
                            <li><a href="sport.html">Game & Sports</a></li>
                        </ul>
                    </li>

                    <li><a href="food.html">Foods & Drinks</a></li>
                </ul>
            </div>

            <div class="col-sm-2 col-xs-12">
                <ul class="nav">
                    <li><a href="index.html"><img src="Pioneer-Icon.png" alt="teamlogo" width="80px" height="80px"></a></li>
                </ul>
            </div>

            <div class="col-sm-5">
                <ul class="nav navbar-nav navbar-left hidden-xs">
                    <li><a href="hotel.html">Hotels & Stay</a></li>

                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Transportation
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="transportation.html">Airport</a></li>
                            <li><a href="transportation.html">Ferry</a></li>
                            <li><a href="transportation.html">Bus</a></li>
                            <li><a href="transportation.html">Link Light Rail</a></li>
                            <li><a href="transportation.html">Sounder Train</a></li>
                            <li><a href="transportation.html">Streetcar</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="foodimage" class="container">
    <img class="img-responsive text-center" src="food.jpg">
</div>

<div id="foodtitle" class="container">
    <div class="row separateline">
        <div class="col-sm-4">
            <div class="inner"></div>
        </div>

        <div class="col-sm-4">
            <h2 class="separateheading">Eat in Seattle</h2>

        </div>

        <div class="col-sm-4">
            <div class="inner"></div>
        </div>
    </div>
</div>

<div ng-app="myApp" ng-controller="namesCtrl">

    <div class="container">

        <div class="row_with_text_left selectionstyle">
            <div class="col-sm-12">
                <h4>Find Food & Drinks Nearby Your Favorite Place</h4>
            </div>
            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showspaceneedle()">  Space Needle</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showpikeplacemarket()">  Pike Place Market</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showuw()">  University of Washington</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showstarbucks()">  The First Starbucks</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showsanjuanisland()">  San Juan Island</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showlakeunion()">  Lake Union</input>

            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showmountrainier()">  Mount Rainier National Park</input>

            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showseattlechildrenmuseum()">  Seattle Children Museum</input>

            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showwoodlandparkzoo()">  Woodland Park Zoo</input>

            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showseattleaquarium()">  Seattle Aquarium</input>

            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showthemuseumofflight()">  The Museum of Flight</input>

            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showseattleartmuseum()">  Seattle Art Museum</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showparamounttheatre()">  Paramount Theatre</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showempmuseum()">  EMP Museum</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showchihulygardenandglass()">  Chihuly Garden and Glass</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showstevenspassskykomish()">  Stevens Pass</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showseattleseaplanes()">  Seattle Seaplanes</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showcenturylinkfield()">  Century Link Field</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showhuskystadium()">  Husky Stadium</input>
            </div>

            <div class="col-sm-3 col-xs-3">
                <input type="radio" name="selection" onclick="showolympicnationalpark()">  Olympic National Park</input>
            </div>

        </div>


        <div>
            <div id="{{place.id}}" ng-repeat="place in places">
                <h1 style="text-align: center"> Food Nearby {{ place.name }} </h1>
                <div class="row">
                    <div class="col-sm-6" ng-repeat="food in place.food.businesses">
                        <div class="row_with_text_left hotelstyle">
                            <div class="col-sm-4">
                                <a href="{{ food.url }}"><img class="img-responsive" src="{{ food.image_url}}"></a>
                            </div>

                            <div class="col-sm-8">
                                <h4> {{ food.name }} </h4>
                                <img class="img-responsive" src="{{ food.rating_img_url }}">
                                <p> <b>Address:</b> {{food.location.display_address[0]}}, {{food.location.display_address[1]}}, {{food.location.display_address[2]}} </p>
                            </div>

                            <p> <b>Comments:</b> {{food.snippet_text }} </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<footer>
    <div class="container9">
        <div class="left">
            <div class="row footer-icon">
                <img src="Pioneer-Icon.png" style="height:45px" class="img-responsive" alt="">
                <p>Seattle Pioneer</p>
            </div>
            <div class="sitemap">
                <a href="#">Welcome</a>
                <a href="#">Things to do</a>
                <a href="food.html">Food&Drink</a>
                <a href="hotel.html">Hotel</a>
                <a href="transportation.html">Transportation</a>
            </div>
            <p>Seattle Pioneer © 2016</p>
        </div>
        <div class="center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p class="info">Terry Ave, Seattle</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p class="info">888-888-8888</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p class="info">xxx@xxx.com</p>
            </div>
        </div>
        <div class="right">
            <span>About the website</span>
            <p class="intro">A website that people can get information about seattle.</p>
            <div class="icon">
                <a href="#">
                    <i class="fa fa-facebook"></i></a>
                <a href="#">
                    <i class="fa fa-twitter"></i></a>
                <a href="#">
                    <i class="fa fa-linkedin"></i></a>
                <a href="#">
                    <i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
