.row{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  text-align:center;
}
#item{
  height: 300px;
}

#item img{
  filter:blur(3px);
  transition-duration:12s;
}
#item img:hover{
  filter:none; 
  filter:drop-shadow(8px 8px 10px grey);
}


.recommendation-container {
    display: flex;
    flex-direction: column;
}

.preferencesection {
    border-style: inset;

}

.left-image-effect {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    float: left;
    margin-right:20px;
    background-color: #57A53C;
}

.left-image-effect p, .left-image-effect h2 {
    color: #fff;
    padding: 10px;
    left: -20px;
    position: relative;
}

.left-image-effect p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

.left-image-effect h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-align: left;
}

.left-image-effect img {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin: -12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}

.left-image-effect img.top:hover {
    bottom:-100px;
    padding-top:100px
}

ul {
    list-style-type: none;
}

.right-image-effect {
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    float: left;
    margin-right:20px;
    background-color: #57A53C;
}

.right-image-effect p, .right-image-effect h2 {
    color: #fff;
    padding: 8px;
    left: -20px;
    position: relative;
}

.right-image-effect p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

.right-image-effect h2 {
    font-size: 20px;
    line-height: 16px;
    margin: 0;
    text-align: left;
}

.right-image-effect img {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin: -12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}

.right-image-effect img.top:hover {
    bottom:-80px;
    padding-top:80px
}


.container9{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: #57A53C;
  padding: 55px 50px;
  margin-top:80px;
}

.left{
  color:#ffffff;
}

.sitemap{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;  
  font: bold 12px sans-serif;
}
.sitemap a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:#ffffff;
}
.center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.center .info{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
  font: 14px sans-serif;
  line-height:2;
}
.icon{
  margin-top: 25px;
}
.icon a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.right{
  color:#ffffff;
}
.intro{
  line-height: 20px;
  font: 13px sans-serif;
}



