.row{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  text-align:center;
}
#item{
  height: 300px;
}
.img :hover {
    opacity: 0;
    background-color: yellow;
}

.recommendation-container {
    display: flex;
    flex-direction: column;
}

.preferencesection {
    border-style: inset;

}