.row{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  text-align:center;
}
#item{
  height: 300px;
}

#item img{
  filter:blur(3px);
  transition-duration:12s;
}
#item img:hover{
  filter:none; 
  filter:drop-shadow(8px 8px 10px grey);
}


.preferencesection {
    border-style: inset;

}

.left-image-effect {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    float: left;
    margin-right:20px;
    background-color: #57A53C;
}

.left-image-effect p, .left-image-effect h2 {
    color: #fff;
    padding: 10px;
    left: -20px;
    position: relative;
}

.left-image-effect p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

.left-image-effect h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-align: left;
}

.left-image-effect img {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin: -12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}

.left-image-effect img.top:hover {
    bottom:-100px;
    padding-top:100px
}

ul {
    list-style-type: none;
}

.right-image-effect {
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    float: left;
    margin-right:20px;
    background-color: #57A53C;
}

.right-image-effect p, .right-image-effect h2 {
    color: #fff;
    padding: 8px;
    left: -20px;
    position: relative;
}

.right-image-effect p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

.right-image-effect h2 {
    font-size: 20px;
    line-height: 16px;
    margin: 0;
    text-align: left;
}

.right-image-effect img {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin: -12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}

.right-image-effect img.top:hover {
    bottom:-80px;
    padding-top:80px
}

/*-------------------------------------------- style for Yang -----------------------------------------*/

.navi-yang ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navi-yang li {
    float: left;
}

.navi-yang li a, .dropbtn-yang {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navi-yang li a:hover, .dropdown-yang:hover .dropbtn-yang {
    background-color: red;
}

.navi-yang li.dropdown-yang {
    display: inline-block;
}

.navi-yang .dropdown-content-yang {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navi-yang .dropdown-content-yang a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index:999;
}

.dropdown-content-yang a:hover {background-color: #f1f1f1}

.dropdown-yang:hover .dropdown-content-yang {
    display: block;
}


