.navbar {
        font-family: Montserrat, sans-serif;
        margin-bottom: 0;
        background-color: grey;
        border: 0;
        font-size: 16px !important;
        letter-spacing: 2px;
        opacity: 1.0;
}

.navbar li a, .navbar .navbar-brand {
        color: #ffffff !important;
}
.navbar-nav li a:hover {
        background-color: black !important;
}

.navbar-default .navbar-toggle {
        border-color: transparent;
}

.navbar li a {
        display: block;
}

.dropdown-menu {
        background-color: #99CCBF;
        border-color: #99CCBF;
        width: 180px;
}

.dropdown-menu li a:hover {
        background-color: black;
}


#homegif {
        position: relative;
        width: 100%;
        overflow: hidden;
}

.arrow-center {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
}

.gifword {
        font-size: 50px;
        color: #ffffff;
        border: 5px inset white;
        text-align: center;
}


.down-arrow {
        color: white;
        font-size: 50px;
}

@media (max-width: 600px) {
        .arrow-center{
                display: none;
        }
}
.inner {
        margin-top:31px;
        border-bottom: 2px inset #99CCBF;
}

.separateline {
        margin-top: 3%;
}

.alignitem {
        align-items: center;
}
.navbar .row{
    margin:0;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align:center;
}




.jumbotron{
    height: 280px;
}
.jumbotron h1{
    margin-left:20%;
}
.row{
    margin-top:40px;
    
}

.container-fluid{
   margin-left:40px;
   margin-right:40px;
}
#col-sm-5-text{
    padding: 30px 50px;
    text-align:left;
}
#col-sm-5-text .hilt{
    color:green;
}
#col-sm-5-text .hilt:hover{
    color:grey;
}

/*for outdoor page*/
#sj-pic{
    background-image:url("mid-size/sanjuan.jpg");
    background-size:100% 100%;
    height:350px;
}
#oly-pic{
    background-image:url("mid-size/oly.jpg");
    background-size:100% 100%;
    height:350px;
}
#slu-pic{
    background-image:url("mid-size/slu.jpg");
    background-size:100% 100%;
    height:350px;
}
#mt-pic{
    background-image:url("mid-size/mt.ra.jpg");
    background-size:100% 100%;
    height:350px;
}

/*for art page*/
#sam-pic{
    background-image:url("mid-size/sam.jpg");
    background-size:100% 100%;
    height:350px;
}
#para-pic{
    background-image:url("mid-size/theatre.jpg");
    background-size:100% 100%;
    height:350px;
}
#emp-pic{
    background-image:url("mid-size/emp.jpg");
    background-size:100% 100%;
    height:350px;
}
#chihu-pic{
    background-image:url("mid-size/chihu.jpg");
    background-size:100% 100%;
    height:350px;
}
/*for family page*/
#child-pic{
    background-image:url("mid-size/child.jpg");
    background-size:100% 100%;
    height:350px;
}
#zoo-pic{
    background-image:url("mid-size/zoo.jpg");
    background-size:100% 100%;
    height:350px;
}
#aqua-pic{
    background-image:url("mid-size/aqua.jpg");
    background-size:100% 100%;
    height:350px;
}
#flight-pic{
    background-image:url("mid-size/flight.jpg");
    background-size:100% 100%;
    height:350px;
}
/*for signature page*/
#pike-pic{
    background-image:url("mid-size/pike.jpg");
    background-size:100% 100%;
    height:350px;
}
#space-pic{
    background-image:url("mid-size/space.jpg");
    background-size:100% 100%;
    height:350px;
}
#uw-pic{
    background-image:url("mid-size/uw.jpg");
    background-size:100% 100%;
    height:350px;
}
#starb-pic{
    background-image:url("mid-size/starb.jpg");
    background-size:100% 100%;
    height:350px;
}
/*for sport page*/
#ski-pic{
    background-image:url("mid-size/ski.jpg");
    background-size:100% 100%;
    height:350px;
}
#seaplane-pic{
    background-image:url("mid-size/seaplane.jpg");
    background-size:100% 100%;
    height:350px;
}
#stadium-pic{
    background-image:url("mid-size/stadium.jpg");
    background-size:100% 100%;
    height:350px;
}
#uwstadium-pic{
    background-image:url("mid-size/uwstadium.jpg");
    background-size:100% 100%;
    height:350px;
}
/*for special choice image*/

#sport{
    background-image:url("small-size/sport.jpg");
    background-size:100% 100%;
    height:300px;
}

#outdoor{
    background-image:url("small-size/outdoor.jpg");
    background-size:100% 100%;
    height:300px;
}

#signature{
    background-image:url("small-size/signature.jpg");
    background-size:100% 100%;
    height:300px;
}

#family{
    background-image:url("small-size/family.jpg");
    background-size:100% 100%;
    height:300px;
}

#art{
    background-image:url("small-size/art.jpg");
    background-size:100% 100%;
    height:300px;
}


.container .text{
    margin: auto;
    color:#ffffff;
    text-align:center;
    padding: 66px;
    margin-top:3%;
    border: 6px solid #ffffff;
}
.container .text h2{
    font-weight: 900;
    font-family: Helvetica, sans-serif;
}
.container .col-sm-5:hover{
    opacity: 0.5;
}
.container .text h2:hover{
    color:black;
}


.container .button{
    margin:auto;
    color: #ffffff;
    background-color:Transparent;
    padding: 16px;
    font-size: 16px;
    border: 2px solid #ffffff;
    text-decoration: none;
    transition-duration: 0.4s;
}
.container .button:hover {
    background-color: #4CAF50;
    color: white;
}

.container9{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: #99CCBF;
  padding: 55px 50px;
  margin-top:80px;
}

.left{
    color:#ffffff;
}
.left .row{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    text-align:center;
}
.footer-icon{
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    vertical-align: middle;
}

.sitemap{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    font: bold 12px sans-serif;
}
.sitemap a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:#ffffff;
}
.center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.center .info{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
    font: 14px sans-serif;
    line-height:2;
}
.icon{
    margin-top: 25px;
}
.icon a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
.right{
    color:#ffffff;
}
.intro{
    line-height: 20px;
    font: 13px sans-serif;
}
